@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.alert-notice {
  color: #0A0A07;
  background-color: #fcf8e3;
  border-color: #faebcc;
}